.home {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;

  .home-overview {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;

    .content {
      background-image: linear-gradient(to right, #FBFBFB, #F1F1F1);

      .me-img {
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0%);

        @media (min-width: 768px) {
          width: unset;
          left: 50%;
          transform: translate(-50%, 10%);
        }

        img {
          width: 100%;

          @media (min-width: 640px) {
            width: 55%;
          }

          @media (min-width: 768px) {
            width: unset;
          }

          @media (min-width: 1024px) {
            height: 820px;
          }
        }
      }

      .me-role {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: 768px) {
          top: unset;
          bottom: 20%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      @for $i from 1 through 30 {
        @for $j from 1 through 30 {
          $x: 2.75 * $i;
          $y: 1.5 * $j;
          $target: 10 * $j;

          @keyframes to-top-#{$i}-#{$j} {
            0% {
              opacity: 0;
              top: calc(100vh + #{$y}px);
            }

            10% {
              opacity: 1;
              top: calc(100vh + #{$y}px);
            }

            30% {
              opacity: 1;
            }

            100% {
              opacity: 0;
              top: calc(50% + #{$target}px);
            }
          }

          .me-skill-#{$i}-#{$j} {
            position: absolute;
            height: 75px;
            width: 75px;
            left: #{$x}vw;
            opacity: 0;
            animation-name: to-top-#{$i}-#{$j};
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }
    }
  }

  .home-resume {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;

    @media (min-width: 768px) {
      padding-top: $navbar-height;
    }
  }

  .home-project {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;

    @media (min-width: 768px) {
      padding-top: $navbar-height;
    }
  }

  .home-skill {
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;

    @media (min-width: 768px) {
      padding-top: $navbar-height;
    }
  }

  .home-blog {
    background-color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;

    @media (min-width: 768px) {
      padding-top: $navbar-height;
    }
  }
}
