@import "variable";
@import "mixins";
@import "home.scss";

html {
  &[lang="en-US"] {
    font-family: 'Quicksand', sans-serif;
  }

  &[lang="th"] {
    font-family: 'Kanit', sans-serif;
  }

  font-size: 16px;
  font-weight: $normal;
}

a {
  text-decoration: none;
}

.navbar {
  transition: all 0.6s ease;
  top: -$navbar-height;

  &.active {
    top: 0;
  }
}
