@import "variable";
@import "home.scss";

.thailand {
  font-family: 'Mali', cursive;
}

.american {
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 16px;
  font-weight: $normal;
}

a {
  text-decoration: none;
}

.navbar {
  transition: all 0.6s ease;
  top: -$navbar-height;

  &.active {
    top: 0;
  }
}
